<div>
  <h4>Forum</h4>
  <% @top_level_forums.each do |forum| %>
    <table class="table">

      <thead>
        <tr>
          <th><a href="<%= forum_path(forum) %>"><%= forum.title %></a><br>
          <small><%= forum.description %></small></th>
          <th>Topics / Posts</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        <% forum.forums.each do |subforum| %>
        <tr>
          <td><a href="<%= forum_path(subforum) %>"><%= subforum.title %></a><br>
          <small><%= subforum.description %></small><br>
          <% if subforum.forums.any? %>
            <small>Sub-Forums: <%= subforum_links(subforum) %></small>
          <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>