<%= render 'partials/breadcrumb', obj: @forum %>
<% if user_signed_in? %>
  <div>
    <%= link_to "Post New Topic", new_topic_path(forum: @forum.id), method: :get, class: 'btn btn-primary' %>
  </div>
<% end %>
<div>
  <h4>Forum: <%= @forum.title %></h4>
  <p><%= @forum.description %></p>

  <% if @forum.forums.any? %>
  <table class="table">

    <thead>
    <tr>
      <th>Sub-Forums</th>
      <th>Topics / Posts</th>
      <th>Last Post</th>
    </tr>
    </thead>
    <tbody>
      <% @forum.forums.each do |subforum| %>
        <tr>
          <td><a href="<%= forum_path(subforum) %>"><%= subforum.title %></a><br>
            <small><%= subforum.description %></small><br>
            <% if subforum.forums.any? %>
              <small>Sub-Forums: <%= subforum_links(subforum) %></small>
            <% end %>
          </td>
          <td>
            <%= subforum.topic_count %> Topics<br>
            <%= subforum.post_count %> Posts
          </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <% if @forum.topics.any? %>
  <table class="table">

    <thead>
    <tr>
      <th>Title / Topic Starter</th>
      <th>Replies</th>
      <th>Last Post By</th>
    </tr>
    </thead>
    <tbody>
      <% @forum.topics.each do |topic| %>
      <tr>
        <td><a href="<%= topic_path(topic) %>"><%= topic %></a><br>
        <small>Started by <a href="<%= user_path(topic.user) %>"><%= topic.user %></a>,
        <%= topic.created_at %></small></td>
        <td><%= topic.reply_count %></td>
        <td><a href="<%= user_path(topic.last_post.user) %>"><%= topic.last_post.user %></a><br>
        <small><%= topic.last_post.created_at %></small></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>