<div id="breadcrumb">
  <a href="<%= categories_path %>">Forum</a>
  >
  <a href="<%= category_path(@forum.category) %>"><%= @forum.category %></a>
  >
  <%= @forum.title %>
</div>
<div>
  <h4>Forum: <%= @forum.title %></h4>
  <table>
    <thead>
      <tr>
        <th>Topic</th>
        <th>Author</th>
      </tr>
    </thead>
    <% @forum.topics.each do |topic| %>
      <%= render 'topics/topic', topic: topic %>
    <% end %>
  </table>
</div>