<%= render 'partials/breadcrumb', obj: @forum %>
<% if user_signed_in? %>
  <div>
    <%= link_to "Post New Topic", new_topic_path(forum: @forum.id), method: :get, class: 'btn btn-primary' %>
  </div>
<% end %>
<div>
  <h4>Forum: <%= @forum.title %></h4>
  <p><%= @forum.description %></p>

  <!-- TODO: Break up @forum and @forum.forums into separate variables, filled in by
       checking permissions in the controller. -->
  <% if @forum.forums.any? %>
  <table class="table">

    <thead>
    <tr>
      <th class="col-sm-7 col-md-7">Sub-Forums</th>
      <th class="col-sm-2 col-md-2">Topics / Posts</th>
      <th class="col-sm-3 col-md-3">Last Post</th>
    </tr>
    </thead>
    <tbody>
      <% @forum.forums.each do |subforum| %>
        <% if current_or_guest_user.able_to?(:view_forum, subforum) %>
          <tr>
            <td><a href="<%= forum_path(subforum) %>"><%= subforum.title %></a><br>
              <small><%= subforum.description %></small><br>
              <% if subforum.forums.any? %>
                <small>Sub-Forums: <%= subforum_links(subforum) %></small>
              <% end %>
            </td>
            <td>
              <%= subforum.self_and_desc_topic_count %> Topics<br>
              <%= subforum.self_and_desc_post_count %> Posts
            </td>
            <td>
              <%= display_last_post_with_topic(subforum.last_topic, subforum.last_post_in_last_topic) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <table class="table">
    <thead>
    <tr>
      <th class="col-sm-7 col-md-7">Title / Topic Starter</th>
      <th class="col-sm-2 col-md-2">Replies</th>
      <th class="col-sm-3 col-md-3">Last Post By</th>
    </tr>
    </thead>
    <tbody>
      <% if @forum.topics.any? %>
        <% @forum.topics.order(created_at: :desc).each do |topic| %>
        <tr>
          <td>
            <%= new_since_last_view_text(topic) %>
            <%= display_topic(topic) %>
          </td>
          <td>
            <%= topic.reply_count %>
          </td>
          <td>
            <%= display_last_post(topic) %>
          </td>
        </tr>
        <% end %>
      <% else %>
        <tr><td>There are no posts in this forum.</td></tr>
      <% end %>
    </tbody>
  </table>
</div>