<div id="mod-topic-<%=topic.id%>">
  <%= button_tag "Soft Delete Posts", id: "delete-selected-posts" %>
  <%= button_tag "Undelete Posts", id: "undelete-selected-posts" %>
  <%= button_tag "Approve Posts", id: "approve-selected-posts" %>
  <%= button_tag "Unapprove Posts", id: "unapprove-selected-posts" %>
  <%= label_tag "Select All Posts" %> <%= check_box_tag "select-all-posts" %>
<script>
  <!-- TODO: Move this -->
  $(document).ready(function(){
    $("#select-all-posts").click(function(){
      if (this.checked) {
        $("#posts").find(":checkbox").each(function(){
          this.checked = true;
        });
      }else{
        $("#posts").find(":checkbox").each(function(){
          this.checked = false;
        });
      }
    });

    $("#delete-selected-posts").click(function(){
      var selected = GetSelectedPosts();

      $.ajax({
        type: "POST",
        url: "<%= soft_delete_post_path %>",
        data: {"ids": selected},
        success: function(){
          location.reload();
        }
      });
    });

    $("#undelete-selected-posts").click(function(){
      var selected = GetSelectedPosts();

      $.ajax({
        type: "POST",
        url: "<%= undelete_post_path %>",
        data: {"ids": selected},
        success: function(){
          location.reload();
        }
      });
    });
  });

  $("#approve-selected-posts").click(function(){
    var selected = GetSelectedPosts();

    $.ajax({
      type: "POST",
      url: "<%= approve_post_path %>",
      data: {"ids": selected},
      success: function(){
        location.reload();
      }
    });
  });

  $("#unapprove-selected-posts").click(function(){
    var selected = GetSelectedPosts();

    $.ajax({
      type: "POST",
      url: "<%= unapprove_post_path %>",
      data: {"ids": selected},
      success: function(){
        location.reload();
      }
    });
  });

  function GetSelectedPosts(){
    var selected = [];

    $("#posts").find("input:checked").each(function(){
      selected.push($(this).attr("name"));
    });

    return selected;
  }
</script>
</div>
<br>
