<div id="mod-topic-<%=topic.id%>">
  <div id="post-moderation" class="btn-group">

    <div class="dropdown btn-group">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="post-moderation-menu" data-toggle="dropdown">
        Moderate Post(s)
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a id="move-selected-posts" tabindex="-1" href="#" data-toggle="modal" data-target="#moveModal"><small>Move Posts</small></a></li>
        <li><a id="merge-selected-posts" tabindex="-1" href="#" data-toggle="modal" data-target="#mergeModal"><small>Merge Posts</small></a></li>
        <li><a id="copy-selected-posts" tabindex="-1" href="#" data-toggle="modal" data-target="#copyModal"><small>Copy Posts</small></a></li>
        <li><a id="hard-delete-selected-posts" tabindex="-1" href="#"><small>Hard Delete Posts</small></a></li>
        <li><a id="soft-delete-selected-posts" tabindex="-1" href="#"><small>Soft Delete Posts</small></a></li>
        <li><a id="undelete-selected-posts" tabindex="-1" href="#"><small>Undelete Posts</small></a></li>
        <li><a id="approve-selected-posts" tabindex="-1" href="#"><small>Approve Posts</small></a></li>
        <li><a id="unapprove-selected-posts" tabindex="-1" href="#"><small>Unapprove Posts</small></a></li>
        <li><a id="select-all-posts" tabindex="-1" href="#"><small>Select All</small></a></li>
        <li><a id="select-none-posts" tabindex="-1" href="#"><small>Select None</small></a></li>
        <li><a id="invert-selection-posts" tabindex="-1" href="#"><small>Invert Selection</small></a></li>
        <li><a id="select-unapproved-posts" tabindex="-1" href="#"><small>Select Unapproved Posts</small></a></li>
        <li><a id="select-deleted-posts" tabindex="-1" href="#"><small>Select Deleted Posts</small></a></li>
      </ul>
    </div>

    <div class="modal fade" id="mergeModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title" id="mergeModalLabel">Merge Posts</h4>
          </div>
          <div id="merge-body" class="modal-body">
            <b>Merging <span id="merge-count">X</span> post(s)</b>
            <p>You must have the required permissions for this action in all forums from which
              you have selected topics or posts.</p>
            <form>
              <p><label for="merge-destination">Destination:</label><select id="merge-destination"></select></p>
              <p><label for="merge-author">User Name:</label><select id="merge-author"></select></p>
              <p><textarea id="merge-post-body" rows="5" cols="60"></textarea></p>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="submit-merge" class="btn btn-default">Merge Posts</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="moveModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title" id="moveModalLabel">Move Posts</h4>
          </div>
          <div id="move-body" class="modal-body">
            <b>Moving <span id="move-count">X</span> post(s)</b>
            <p>You must have the required permissions for this action in all forums from which
              you have selected topics or posts.</p>
            <form>
              <p><input type="radio" id="move-create-topic" name="move-type"><label for="move-create-topic">Move Posts to New Topic</label></p>
              <p><label for="move-destination-forum">Destination Forum: </label><select id="move-destination-forum"></select></p>
              <p><label for="move-topic-title">Title: </label><input type="text" id="move-topic-title"></p>
              <br>
              <p><input type="radio" id="move-existing-topic" name="move-type"><label for="move-existing-topic">Move Posts to Existing Topic</label></p>
              <p><label for="move-topic-url">URL of Topic to be Merged: </label><input type="text" id="move-topic-url"></p>
              <p>Copied posts will be inserted in chronological positions in the topic.</p>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="submit-move" class="btn btn-default">Move Posts</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="copyModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title" id="copyModalLabel">Copy Posts</h4>
          </div>
          <div id="copy-body" class="modal-body">
            <b>Copying <span id="copy-count">X</span> post(s)</b>
            <p>You must have the required permissions for this action in all forums from which
              you have selected topics or posts.</p>
            <form>
              <p><input type="radio" id="copy-create-topic" name="copy-type"><label for="copy-create-topic">Copy Posts to New Topic</label></p>
              <p><label for="copy-destination-forum">Destination Forum: </label><select id="copy-destination-forum"></select></p>
              <p><label for="copy-topic-title">Title: </label><input type="text" id="copy-topic-title"></p>
              <br>
              <p><input type="radio" id="copy-existing-topic" name="copy-type"><label for="copy-existing-topic">Copy Posts to Existing Topic</label></p>
              <p><label for="copy-topic-url">URL of Topic to be Merged: </label><input type="text" id="copy-topic-url"></p>
              <p>Copied posts will be inserted in chronological positions in the topic.</p>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="submit-copy" class="btn btn-default">Copy Posts</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- post-moderation -->
</div> <!-- mod-topic -->

<script>
//   TODO: Move this and cleanup
  "use strict";
  $(document).ready(function(){
    $("#select-all-posts").click(function(){
      $("#posts").find(":checkbox").each(function(){
        this.checked = true;
      });
    });

    $("#select-none-posts").click(function(){
      $("#posts").find(":checkbox").each(function(){
        this.checked = false;
      });
    });

    $("#invert-selection-posts").click(function(){
      $("#posts").find(":checkbox").each(function(){
        this.checked = !this.checked;
      });
    });

    $("#select-unapproved-posts").click(function(){
      $(".post-unapproved").find(":checkbox").each(function(){
        this.checked = true;
      });
    });

    $("#select-deleted-posts").click(function(){
      $(".post-deleted").find(":checkbox").each(function(){
        this.checked = true;
      });
    });

    $("#hard-delete-selected-posts").click(function(){
      var selected = GetSelectedPosts();

      $.ajax({
        type: "POST",
        url: "<%= hard_delete_post_path %>",
        data: {"ids": selected}
      });
    });

    $("#soft-delete-selected-posts").click(function(){
      var selected = GetSelectedPosts();

      $.ajax({
        type: "POST",
        url: "<%= soft_delete_post_path %>",
        data: {"ids": selected}
      });
    });

    $("#undelete-selected-posts").click(function(){
      var selected = GetSelectedPosts();

      $.ajax({
        type: "POST",
        url: "<%= undelete_post_path %>",
        data: {"ids": selected}
      });
    });
  });

  $("#approve-selected-posts").click(function(){
    var selected = GetSelectedPosts();

    $.ajax({
      type: "POST",
      url: "<%= approve_post_path %>",
      data: {"ids": selected}
    });
  });

  $("#unapprove-selected-posts").click(function(){
    var selected = GetSelectedPosts();

    $.ajax({
      type: "POST",
      url: "<%= unapprove_post_path %>",
      data: {"ids": selected}
    });
  });

  $("#submit-merge").click(function(){
    var mergeDestination = $("#merge-destination").find(":selected").val();
    var mergeAuthor = $("#merge-author").find(":selected").val();
    var mergePostBody = $("#merge-post-body").val();
    var selected = GetSelectedPosts();

    $.ajax({
      type: "POST",
      url: "<%= merge_post_path %>",
      data: {"sources": selected, "destination": mergeDestination, "author": mergeAuthor,
             "body": mergePostBody},
      success: function(){
        location.reload();
      }
    });
  });

  $("#submit-move").click(function(){
    var selected = GetSelectedPosts();
    var createNewTopic = $("#move-create-topic").prop("checked");
  
    if(createNewTopic){
      var moveDestination = $("#move-destination-forum").find(":selected").val();
      var newTopicTitle = $("#move-topic-title").val();
  
      $.ajax({
        type: "POST",
        url: "<%= move_post_path %>",
        data: {
          "create_topic": createNewTopic, "destination_forum_id": moveDestination,
          "new_topic_title": newTopicTitle, "url": undefined, "post_ids": selected
        },
        success: {

        }
      });
    }else{
      var url = $("#move-topic-url").val();
  
      $.ajax({
        type: "POST",
        url: "<%= move_post_path %>",
        data: {
          "create_topic": createNewTopic, "destination_forum_id": undefined,
          "new_topic_title": undefined, "url": url, "post_ids": selected
        }
      });
    }
  });

  $("#submit-copy").click(function(){
    var selected = GetSelectedPosts();
    var createNewTopic = $("#copy-create-topic").prop("checked");
  
    if(createNewTopic){
      var copyDestination = $("#copy-destination-forum").find(":selected").val();
      var newTopicTitle = $("#copy-topic-title").val();
  
      $.ajax({
        type: "POST",
        url: "<%= copy_post_path %>",
        data: {
          "create_topic": createNewTopic, "destination_forum_id": copyDestination,
          "new_topic_title": newTopicTitle, "url": undefined, "post_ids": selected
        }
      });
    }else{
      var url = $("#copy-topic-url").val();
  
      $.ajax({
        type: "POST",
        url: "<%= copy_post_path %>",
        data: {
          "create_topic": createNewTopic, "destination_forum_id": undefined,
          "new_topic_title": undefined, "url": url, "post_ids": selected
        }
      });
    }
  });

  // Populate the merge dialog box.
  $("#merge-selected-posts").click(function(){
    var selected = GetSelectedPosts();

    CreateMergeIntoList(selected);
    $("#merge-post-body").val(ConcatPostBodies(selected));
  });

  // Populate the move dialog box.
  $("#move-selected-posts").click(function(){
    $("#move-count").text(GetSelectedPosts().length);
    $("#move-destination-forum").append(CreateForumOptions());
  });

  // Populate the copy dialog box.
  $("#copy-selected-posts").click(function(){
    $("#copy-count").text(GetSelectedPosts().length);
    $("#copy-destination-forum").append(CreateForumOptions());
  });

  function CreateForumOptions(){
    var forums = <%= raw(@forum_list) %>;
    var options = "";

    for (var i = 0; i < forums.length; i++){
      options += '<option value="' + forums[i][0] + '">' + forums[i][1] + '</option>';
    }

    return options;
  }

  function GetSelectedPosts(){
    var selected = [];

    $("#posts").find("input:checked").each(function(){
      selected.push($(this).attr("name"));
    });

    return selected;
  }

  function CreateMergeIntoList(ids){
    $("#merge-destination").empty();
    $("#merge-author").empty();
    var mergeAuthorOpts = [];

    $("#merge-count").text(ids.length);

    for (var id in ids){
      var $post = $("#post-" + ids[id]);
      var destinationText = "(" + ids[id] + ") by " + $post.find(".author").text();
      $("#merge-destination").append('<option value="' + ids[id] + '">' + destinationText + '</option>');
      mergeAuthorOpts.push('<option value="' + $post.find(".author-id").text() + '">' + $post.find(".author").text() + '</option')
    }

    for (var x in $.unique(mergeAuthorOpts)){
      $("#merge-author").append($.unique(mergeAuthorOpts)[x]);
    }
  }

  // Generate a default merged body for the selected posts.
  // TODO: Preserve newlines when storing in DB. Store as HTML?
  function ConcatPostBodies(ids){
    var bodies;

    for (var id in ids){
      bodies += ($("#post-" + ids[id]).find(".post-body").text().trim() + "\n");
    }

    return bodies;
  }
</script>
<br>
