<tr>
  <td>
    <a href="<%= topic_path(topic) %>"><%= topic.title %></a><br>
    Started by <%= topic.user %>, <%= topic.created_at %>
  </td>
  <td>
    <%= topic.reply_count %> Replies
  </td>
  <td>
    <%= topic.last_post.user %><br>
    <%= topic.last_post.created_at %>
  </td>
</tr>