<% if @topic.errors.any? %>
  <div class="alert alert-danger">
    Topic errors:
    <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @post && @post.errors.any? %>
  <div class="alert alert-danger">
    Post errors:
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render 'partials/breadcrumb_with_static_last', obj: @topic %>
<div id="new-topic">
  <h4>Post New Topic</h4>
  <small>Forum: <%= link_to @topic.forum, forum_path(@topic.forum) %></small>

  <div id="new-topic-form">
    <%= form_for @topic, url: topics_path(@topic), method: :post do |f| %>
      <%= f.hidden_field :forum_id, value: @topic.forum_id %>
      <%= f.label "Title:" %><br>
      <%= f.text_field :title, value: '' %><br><br>
      <%= fields_for :post do |post| %>
        <%= post.text_area :body, size: "60x6" %><br>
      <% end %>
      <%= f.submit "Submit New Topic" %>
    <% end %>
  </div>
</div>