<%= render 'partials/breadcrumb', obj: @topic %>
<br>
<% if user_signed_in? && policy(@topic).moderate? %>
  <%= render 'topics/moderate', topic: @topic %>
<% end %>
<%= paginate @ordered_posts %>
<div id="posts">
  <table>
    <tbody>
      <% @ordered_posts.each_with_index do |post, idx| %>
      <tr>
        <td>
        <%= render 'posts/post', topic: @topic, post: post, idx: idx %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if user_signed_in? %>
    <%= render 'posts/post_reply_form', topic: @topic %>
  <% end %>
</div>
<%= paginate @ordered_posts %>