<div id="post-<%= post.id %>" class="post post-<%= post.state %>">
  <div class="post-header">
    <a id="<%= post.id %>" name="<%= post_num(idx) %>"></a>
    <span><span hidden class="author-id"><%= post.user.id %></span><span class="author"><%= username_as_link(post.user) %></span> <small><%= post.user.country %>
    | <%= post.user.posts.count %> Posts</small></span>
    | <span><small><%= time_ago_in_words(post.created_at) %> ago</small></span>
    <span><small><a href="<%= topic_path(post.topic, page: params[:page]) %>#<%= post.id %>">#<%= post_num(idx) %></a></small></span>
    <% if user_signed_in? && policy(topic).moderate? %>
      <span class="select-post"><input type="checkbox" name="<%= post.id %>"></span>
    <% end %>
  </div>
  <div class="post-body post-body-<%= post.state %>">
    <p><%= display_body_with_state(post) %></p>
  </div>
  <div class="post-editor" hidden="true">
    <div class="post-editor-textboxes">
      <textarea class="edit-body-textarea"><%= post.body %></textarea>
      <%= hidden_field :topic, :id, class: "topic-id", id: nil %>
      <textarea class="edit-body-textarea" id="edit-<%= post.id %>"><%= post.body %></textarea>
      <%= text_area :post, :mod_reason, placeholder: "Optional: Reason for editing",
                    class: "edit-reason-textarea" %>
    </div>
    <div class="post-editor-buttons">
      <%= button_tag "Cancel", class: "cancel-edit btn btn-default btn-sm", "data-id" => post.id %>
      <%= button_tag "Delete", class: "btn btn-default btn-sm" %>
      <%= button_tag "Preview", class: "btn btn-default btn-sm" %>
      <%= button_tag "Save", class: "save-post btn btn-primary btn-sm", "data-id" => post.id %>
    </div>
  </div>
  <div class="post-utils">
    <%= link_to "Edit", "#", class: "edit-post", "data-id" => post.id %>
    <%= link_to "Quote", "#", class: "quote-post" %>
    <%= link_to "Flag", "#", class: "flag-post" %>
    <%= link_to "Like", "#", class: "like-post" %>
  </div>
</div>