<div id="breadcrumb">
  Forum
</div>
<div>
  <h4>Forums</h4>
  <% @categories.each do |category| %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><a href="<%= category_path(category) %>"><%= category.title %></a><p><small><%= category.description %></small></p></th>
          <th>Topics</th>
          <th>Posts</th>
        </tr>
      </thead>
      <tbody>
        <% category.forums.each do |forum| %>
        <tr>
          <td>
            <a href="<%= forum_path(forum) %>"><%= forum.title %></a><br>
            <small><%= forum.description %></small>
          </td>
          <td><%= forum.topics.count %></td>
          <td><%= forum.post_count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>