<div id="breadcrumb">
  Forum
</div>
<div>
  <h3>Forums</h3>
  <% @categories.each do |category| %>
    <a href="<%= category_path(category) %>"><%= category.title %></a> - <%= category.description %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sub-Forums</th>
          <th>Topics</th>
          <th>Posts</th>
        </tr>
      </thead>
      <% category.forums.each do |forum| %>
      <tr>
        <td><a href="<%= forum_path(forum) %>"><%= forum.title %></a></td>
        <td><%= forum.topics.count %></td>
        <td><%= forum.post_count %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
</div>