<div id="breadcrumb">
  <a href="<%= categories_path %>">Forum</a>
  >
  <%= @category.title %>
</div>
<div>
  <h3><%= @category.title %></h3>
  <p><%= @category.description %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sub-Forums</th>
        <th>Topics</th>
        <th>Posts</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <% @category.forums.each do |forum| %>
      <tr>
        <td><a href="<%= forum_path(forum) %>"><%= forum.title %></a></td>
        <td><%= forum.topic_count %></td>
        <td><%= forum.post_count %></td>
        <td><%= forum.last_post %></td>
      </tr>
    <% end %>
  </table>
</div>