<div id="breadcrumb">
  <a href="<%= categories_path %>">Forum</a>
  >
  <%= @category.title %>
</div>
<div>
  <h4><%= @category.title %></h4>
  <p><%= @category.description %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sub-Forums</th>
        <th>Topics</th>
        <th>Posts</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      <% @category.forums.each do |forum| %>
        <tr>
          <td>
            <a href="<%= forum_path(forum) %>"><%= forum.title %></a><br>
            <small><%= forum.description %></small>
          </td>
          <td><%= forum.topic_count %></td>
          <td><%= forum.post_count %></td>
          <td><%= forum.last_post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>