<!DOCTYPE html>
<html>
<head>
  <title>RailsForum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <% if current_user %>
    Signed in as <%= current_user %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
  <% end %>
</nav>

<div class="container">
  <!--<p class="notice"><%= notice %></p>-->
  <!--<p class="alert"><%= alert %></p>-->

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "alert alert-#{name}" %>
  <% end -%>

  <%= yield %>

</div>

</body>
</html>
