<!DOCTYPE html>
<html>
<head>
  <title>RailsForum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <% if user_signed_in? %>
    Signed in as <%= username_as_link(current_user) %> |
    <% if current_user.is_admin? %>
      <%= link_to "Admin", admin_dashboard_path %> |
    <% end %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
  <% end %>
</nav>
<hr>
<div class="container-fluid">
  <%= render 'partials/navbar' %>
  <!-- TODO: devise log-in/-out flashes being classed as 'notice' (no style) -->
  <% flash.each do |key, value| %>
    <% key = 'info' if key == 'notice' %> <!-- FIXME -->
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>
</div>
<hr>
<div class="container-fluid">
  <h5>Forum Statistics</h5>
  <p>Topics: <%= Topic.all.count %> Posts: <%= Post.all.count %> Members: <%= User.all.count %></p>
  <p>Newest member: <%= User.newest %></p>
</div>
</body>
</html>
