<!DOCTYPE html>
<html>
<head>
  <title>RailsForum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <% if current_user %>
    Signed in as <%= current_user %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
  <% end %>
</nav>
<hr>
<div class="container">
  <%= render 'partials/navbar' %>
  <!-- TODO: devise log-in/-out flashes not being styled. -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>
</div>
<hr>
<div class="container">
  <h5>Forum Statistics</h5>
  <p>Topics: <%= Topic.all.count %> Posts: <%= Post.all.count %> Members: <%= User.all.count %></p>
  <p>Newest member: <%= User.newest %></p>
</div>
</body>
</html>
